.flex{
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 15px 20px;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
