.flex{
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
}
